header {
    display: flex;
    background: #ffffff;
    height: 50px;
    padding: 0 10px 0 10px;
}

#logo-part {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

.logo-img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

p.logo-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

#menu {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    display: flex;
}

.menu-item a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    padding-left: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

#banner {
    display: flex;
    height: 400px;
    flex-direction: column;
    background-image: url(/images/banner.png);
    background-position-x: center;
    background-position-y: -500px;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.banner-h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 52px;
    font-weight: 500;
    margin: 0em;
}

.banner-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0em;
}

.banner-btn {
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    background: transparent;
    padding: 15px;
    margin: 20px;
}

.banner-btn-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin: 0 auto;
}

.banner-btn-text a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin: 0 auto;
}

.section {
    display: flex;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.block {
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
}

.advantages-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 330px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin: 0;
}

p.sections-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding-right: 30px;
}

.bg-gray {
    background-color: #ededed;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 470px;
}

.sections-img {
    width: 400px;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border-color: #40e0d0;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 370px;
}

.green-legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #40e0d0;
}

.feedback-part {
    display: flex;
    flex-direction: column;
}

.form-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px 0 0;
}

.param-fields {
    width: 140px;
    height: 30px;
    padding-top: 10px;
    border-radius: 10px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.contact-form-fields {
    width: 170px;
    padding-top: 10px;
    border-radius: 7px;
}

.labels {
    width: 190px;
}

.feedback-btn {
    border: 1px solid #40e0d0;
    border-radius: 10px;
    background: transparent;
    padding: 10px;
    margin-top: 10px;
    width: 160px;
}

.feedback-btn-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #40e0d0;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
}