header {
    display: flex;
    background: #ffffff;
    height: 50px;
    padding: 0 10px 0 10px;
}

#logo-part {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

.logo-img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

p.logo-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

#menu {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    display: flex;
}

.menu-item a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    padding-left: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

#banner {
    display: flex;
    height: 400px;
    flex-direction: column;
    background-image: url(/images/banner.png);
    background-position-x: center;
    background-position-y: -500px;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.banner-h1 {
    font-family: Verdana, Geneva, Tahoma, sans-seri;
    color: white;
    font-size: 52px;
    font-weight: 500;
    margin: 0em;
}

.banner-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0em;
}

.banner-btn {
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    background: transparent;
    padding: 15px;
    margin: 20px;
}

.banner-btn-text {
    font-family: Verdana, Geneva, Tahoma, sans-seri;
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin: 0 auto;
}